<input type="text" [disabled]="isDisabled()" #termInput>
<button (click)="add(termInput)" [disabled]="isDisabled()">Add Term</button>
<hr>

<select #termSelect required>
  <option value="">Select term...</option>
  <option *ngFor="let term of data; let i = index" [value]="i">{{ term.value }}</option>
</select>
<input type="text" [disabled]="isDisabled()" #updateInput>
<button (click)="update(termSelect, updateInput)" [disabled]="isDisabled()">Update Term</button>
<hr>

<p *ngIf="errorMessage">* {{ errorMessage }}</p>
<hr>

<h3>List</h3>
<ul [ngClass]="{disabled: isDisabled()}">
  <li
    *ngFor="let term of data; let i = index"
    [ngStyle]="{color: term.error ? 'red' : 'inherit'}"
  >{{ term.value }} <a (click)="remove(i)">x</a></li>
</ul>
